<div>
  <p>Hello world from food app!</p>
  <p>Future home our state of the art food ordering service!</p>
  <p>Planned Features:</p>
  <ol>
    <li>Sign in as manager</li>
    <li>Create, Read, Update and Delete Food items in the menu</li>
    <li>Waiters/Waitresses can log in and view/submit orders for items</li>
    <li>Kitchen user may log in and see input orders and mark them as done</li>
    <li>Waiter/Waitress Users can mark completed ordered food as picked up/delivered</li>
    <li>Food orders' ingredients may be customized, and a list of ingredients is related to each item</li>
    <li>Food orders may be customized with several options</li>
  </ol>
</div>