<div class="diningroom">
  <div id="240s" class="column">
    <div id="241" class="table" (click)="viewTable(241)">241</div>
    <div id="242" class="table" (click)="viewTable(242)">242</div>
    <div id="243" class="table" (click)="viewTable(243)">243</div>
  </div>
  <div id="230s" class="column">
    <div id="231" class="table" (click)="viewTable(231)">231</div>
    <div id="232" class="table" (click)="viewTable(232)">232</div>
    <div id="233" class="table" (click)="viewTable(233)">233</div>
    <div id="234" class="table" (click)="viewTable(234)">234</div>
    <div id="235" class="table" (click)="viewTable(235)">235</div>
  </div>
  <div id="220s" class="column">
    <div id="221" class="table" (click)="viewTable(221)">221</div>
    <div id="222" class="table" (click)="viewTable(222)">222</div>
    <div id="223" class="table" (click)="viewTable(223)">223</div>
    <div id="224" class="table" (click)="viewTable(224)">224</div>
  </div>
  <div class="bar-column">
      <div id="217" class="table" (click)="viewTable(217)">217</div>
      <div id="216" class="table" (click)="viewTable(216)">216</div>
      <div id="215" class="table" (click)="viewTable(215)">215</div>
      <div id="214" class="table" (click)="viewTable(214)">214</div>
    </div>
  <div id="210s" class="column">
    <div id="211" class="table" (click)="viewTable(211)">211</div>
    <div id="212" class="table" (click)="viewTable(212)">212</div>
    <div id="213" class="table" (click)="viewTable(213)">213</div>
  </div>
</div>