.diningroom {
    background-color: brown;
    height: 100%;
    display: flex;
    justify-content: center;
}
.column {
    display: inline-flex;
    width: 100px;
    align-self: flex-start;
    height: 350px;
    flex-direction: column;
    justify-content: space-around;
}
.bar-column {
    display: inline-block;
    width: 350px;
    margin-bottom: 100px;
    align-self: flex-end;
}
div#c240s.column {
    height: 300px;
    margin-top: 50px;
}
.table {
    background-color: white;
    padding: 15px;
    margin: 10px;
    border: 3px solid black;
}
.bar-column > .table {
    display: inline-block;
}