<div class="diningrooom">
  <div id="190s" class="column">
    <div id="191" class="table" (click)="viewTable(191)">191</div>
    <div id="192" class="table" (click)="viewTable(192)">192</div>
    <div id="193" class="table" (click)="viewTable(193)">193</div>
    <div id="194" class="table" (click)="viewTable(194)">194</div>
  </div>
  <div id="180s" class="column">
    <div id="181" class="table" (click)="viewTable(181)">181</div>
    <div id="182" class="table" (click)="viewTable(182)">182</div>
    <div id="183" class="table" (click)="viewTable(183)">183</div>
    <div id="184" class="table" (click)="viewTable(184)">184</div>
    <div id="185" class="table" (click)="viewTable(185)">185</div>
  </div>
  <div id="170s" class="column">
    <div id="171" class="table" (click)="viewTable(171)">171</div>
    <div id="172" class="table" (click)="viewTable(172)">172</div>
    <div id="173" class="table" (click)="viewTable(173)">173</div>
    <div id="174" class="table" (click)="viewTable(174)">174</div>
  </div>
  <div id="160s" class="column">
    <div id="161" class="table" (click)="viewTable(161)">161</div>
    <div id="162" class="table" (click)="viewTable(162)">162</div>
    <div id="163" class="table" (click)="viewTable(163)">163</div>
    <div id="164" class="table" (click)="viewTable(164)">164</div>
  </div>
  <div id="150s" class="column">
    <div id="151" class="table" (click)="viewTable(151)">151</div>
    <div id="152" class="table" (click)="viewTable(152)">152</div>
  </div>
  <div id="140s" class="column">
    <div id="141" class="table" (click)="viewTable(141)">141</div>
    <div id="142" class="table" (click)="viewTable(142)">142</div>
  </div>
  <div id="130s" class="column">
    <div id="131" class="table" (click)="viewTable(131)">131</div>
    <div id="132" class="table" (click)="viewTable(132)">132</div>
    <div id="133" class="table" (click)="viewTable(133)">133</div>
  </div>
  <div id="120s" class="column">
    <div id="121" class="table" (click)="viewTable(121)">121</div>
    <div id="122" class="table" (click)="viewTable(122)">122</div>
    <div id="123" class="table" (click)="viewTable(123)">123</div>
  </div>
  <div id="110s" class="column">
    <div id="111" class="table" (click)="viewTable(111)">111</div>
    <div id="112" class="table" (click)="viewTable(112)">112</div>
    <div id="113" class="table" (click)="viewTable(113)">113</div>
    <div id="114" class="table" (click)="viewTable(114)">114</div>
  </div>
</div>
