<div class="diningrooom">
  <div id="190s" class="column">
    <div id="191" class="table">191</div>
    <div id="192" class="table">192</div>
    <div id="193" class="table">193</div>
    <div id="194" class="table">194</div>
  </div>
  <div id="180s" class="column">
    <div id="181" class="table">181</div>
    <div id="182" class="table">182</div>
    <div id="183" class="table">183</div>
    <div id="184" class="table">184</div>
    <div id="185" class="table">185</div>
  </div>
  <div id="170s" class="column">
    <div id="171" class="table">171</div>
    <div id="172" class="table">172</div>
    <div id="173" class="table">173</div>
    <div id="174" class="table">174</div>
  </div>
  <div id="160s" class="column">
    <div id="161" class="table">161</div>
    <div id="162" class="table">162</div>
    <div id="163" class="table">163</div>
    <div id="164" class="table">164</div>
  </div>
  <div id="150s" class="column">
    <div id="151" class="table">151</div>
    <div id="152" class="table">152</div>
  </div>
  <div id="140s" class="column">
    <div id="141" class="table">141</div>
    <div id="142" class="table">142</div>
  </div>
  <div id="130s" class="column">
    <div id="131" class="table">131</div>
    <div id="132" class="table">132</div>
    <div id="133" class="table">133</div>
  </div>
  <div id="120s" class="column">
    <div id="121" class="table">121</div>
    <div id="122" class="table">122</div>
    <div id="123" class="table">123</div>
  </div>
  <div id="110s" class="column">
    <div id="111" class="table">111</div>
    <div id="112" class="table">112</div>
    <div id="113" class="table">113</div>
    <div id="114" class="table">114</div>
  </div>
</div>
