:host {
    display: flex;
    flex-direction: column;
    outline: 5px solid black;
    box-sizing: border-box;
}
a {
    background-color: lightblue;
    padding: 10px;
    margin: 10px;
}
.active {
    outline: 2px solid yellow;
    font-weight: bold;
}
.outlet-container {
    flex-grow: 1;
}
.footer {
    position: absolute;
    bottom: 0px;
    padding: 10px;
    display: flex;
    width: calc(100% - 8px);
    overflow-x: auto;
    justify-content: center;
    background-color: grey;
    box-sizing: border-box;
}
@media screen and (max-width:800px) {
    .footer {
        font-size: 2vw;
        padding: 5px;
    }
    a {
        padding: 5px;
        margin: 5px;
    }
    .outlet-container {
        height: calc(100vh - 75px);
    }
}
@media screen and (max-width: 605px) {
    .outlet-container {
        height: calc(100vh - 110px);
    }

}
