<div style="text-align:center">
  <h1>Dojo Food</h1>
  <p>
    <a routerLink="/login" routerLinkActive="active">Login</a>
    <a routerLink="/register" routerLinkActive="active">Register</a>
    <a routerLink="/roadmap" routerLinkActive="active">Planned Feature List</a>
    <a routerLink="/dining-1" routerLinkActive="active">Dining Room 1</a>
    <a routerLink="/dining-2" routerLinkActive="active">Dining Room 2</a>
    <a routerLink="/order" routerLinkActive="active">Enter New Order</a>
    <a routerLink="/functions" routerLinkActive="active">Functions</a>
    <a routerLink="/notfound" routerLinkActive="inactive">Page Not found</a>
  </p>
  <router-outlet></router-outlet>
</div>

