:host {
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
    text-align: left;
    vertical-align: top;
}
.table-number {
    margin: 10px 0;
}
.pane {
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
}
.order-pane {
    width: 40%;
    background-color: lightsteelblue;
}
.menu-pane {
    width: 60%;
    background-color: lightgray;
    /* display: flex; */
}
.main {
    height: calc(100% - 80px);
    background-color: #eee;
    margin: 10px;
    overflow: auto;
}
.seat {
    margin: 10px;
}
.category-pane > ul {
    list-style: none;
}
.item-pane {
    width: 70%;
}
.quarter-screen {
    background-color: lightblue;
    padding: 20px;
    outline: 2px solid black;
}
.order-item {
    border-bottom: 1px solid black;
}
.order-item.selected {
    background-color: #0a0a35;
    color: #eee;
    font-weight: bold;
}
.footer {
    position:absolute;
    bottom: 5px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.footer .item-button {
    background-color: rgb(144, 160, 182);
    padding: 10px;
    border: 2px outset darkgrey;
}
.modal {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 2;
    width: calc(100% - 100px);
    height: calc(100% - 150px);
    background-color: white;
    box-shadow: 0 -37px 0 59px rgba(1,1,1,0.3)
}
