<div class="order-pane pane">
  <p class="table-number">Table {{tableNum}}</p>
  <div *ngIf="order_items.length == 0">
    <p>(No items have been ordered yet)</p>
  </div>
  <div *ngIf="order_items.length > 0" class="main">
    <div class="seat" *ngFor="let seat_list of order_items; let i=index">
      <h3 *ngIf="i==0">For Table</h3>
      <h3 *ngIf="i>0">Seat {{i}}</h3>
      <div *ngIf="!seat_list || seat_list.length == 0">
        <p>(nothing for this seat)</p>
      </div>
      <div *ngFor="let item of seat_list" class="order-item">
        <p>{{item.item.name}}<span style="float:right">{{item.totalPriceCents/100}}</span></p>
      </div>
    </div>
  </div>
  <div class="footer">
    <button class="item-button">Delete</button>
    <button class="item-button">Modify</button>
    <button class="item-button">Repeat</button>
  </div>
</div>
<div class="pane menu-pane">
  <app-menu></app-menu>
</div>
<!-- TODO: handle item options with this (currently disabled) modal: -->
<div class="modal" *ngIf="false">
  <p>hello</p>
  <p>hello</p>
  <p>hello</p>
  <button>Ok</button>
  <button>Cancel</button>
</div>
