<div class="order-pane pane half-screen">
  <p>Table {{tableNum}}</p>
  <div *ngFor="let seat_list of ordered_items_by_seat; let i=index">
    <h3 *ngIf="i==0">For Table</h3>
    <h3 *ngIf="i>0">Seat {{i}}</h3>
    <div *ngFor="let item of seat_list" style="border:2px solid black;">
      <p>{{item.name}}<span style="float:right">{{item.priceCents}}</span></p>
    </div>
  </div>
</div>
<!-- TODO: add menu pane here -->
<div class="footer">
  <span>Delete</span>
  <span>Modify</span>
  <span>Repeat</span>
</div>