.diningrooom {
    background-color: brown;
    height: 100%;
    display: flex;
    justify-content: center;
}
.column {
    display: inline-block;
    width: 100px;
    vertical-align: top;
}
.table {
    background-color: white;
    padding: 15px;
    margin: 10px;
    border: 3px solid black;
}