<div class="diningroom">
  <div id="240s" class="column">
    <div id="241" class="table">241</div>
    <div id="242" class="table">242</div>
    <div id="243" class="table">243</div>
  </div>
  <div id="230s" class="column">
    <div id="231" class="table">231</div>
    <div id="232" class="table">232</div>
    <div id="233" class="table">233</div>
    <div id="234" class="table">234</div>
    <div id="235" class="table">235</div>
  </div>
  <div id="220s" class="column">
    <div id="221" class="table">221</div>
    <div id="222" class="table">222</div>
    <div id="223" class="table">223</div>
    <div id="224" class="table">224</div>
  </div>
  <div class="bar-column">
      <div id="217" class="table">217</div>
      <div id="216" class="table">216</div>
      <div id="215" class="table">215</div>
      <div id="214" class="table">214</div>
    </div>
  <div id="210s" class="column">
    <div id="211" class="table">211</div>
    <div id="212" class="table">212</div>
    <div id="213" class="table">213</div>
  </div>
</div>