.error {
    background-color: red;
    padding: 10px;
    max-width: 200px;
    margin: 0 auto;
}
h1 {
    text-align: center;
}
label {
    display: inline-block;
    width: 100px;
}
form {
    margin: 0 auto;
    width: 400px;
}