<div>
  <p *ngIf="error.length > 0">{{error}}</p>
  <p>
    <label>Username:</label>
    <input type="text" id="reg-username" [(ngModel)]="username" name="username"/>
  </p>
  <p>
    <label>Password:</label>
    <input type="password" id="reg-password" [(ngModel)]="password" name="password"/>
  </p>
  <p>
    <label for="userType">User Type:</label>
    <select id="userType" [(ngModel)]="selectedUserType">
      <option *ngFor="let t of userTypes" [ngValue]="t">{{t}}</option>
    </select>
  </p>
  <p><input type="submit" (click)="registerSubmit()" value="Register"/></p>
</div>